/*
    inter.io
    Gestaltung II Projekt - HS Bremen - Andreas Teufel
    Jonathan Verbeek
    David Bollmann
*/

/* Variables */
:root {
    --interio-one: #ff9560;
    --interio-two: #ff5e62;
    --interio-blue: #77a5ff;
	--interio-gradient: linear-gradient(120deg, var(--interio-one), var(--interio-two));
	
	--anim-veryfast: 0.05s;
    --anim-fast: 0.1s;
    --anim-medfast: 0.2s;
	--anim-medium: 0.25s;

	--slight-shadow: #00000014 0px 7px 13px 0px;
	--slight-shadow-darker: #00000052 0px 7px 13px 0px;
}

/* General */
body {
    margin: 0;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;

    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 18pt;
}

section {
    height: 100vh;
    width: 100%;
    scroll-snap-align: center;
    background: var(--interio-gradient);
    border-bottom: 0px dashed white;
}

a {
    color: white;
    text-decoration: none;
}

/* Navbar */
.navbar {
	position: fixed;
	height: 6vh;
	width: 100%;
	text-align: center;
    vertical-align: middle;
}

.navbar>.container {
	display: inline-block;
	padding-top: 16px;
}

.navbar>.container>.link {
	float: left;
	width: 16px;
	height: 16px;
	margin-left: 8px;
	margin-right: 8px;
	margin-top: 6px;
	background-color: white;
	opacity: 0.25;
	border-radius: 50%;
}

@keyframes bounce {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}

.navbar>.container>.link.active {
    opacity: 1;
    animation: linear bounce var(--anim-medfast);
}

.navbar>.container>.link.begin {
	width: 28px;
	height: 28px;
	margin-top: 0;
	background-image: url("../img/interio-logo-large.png");
	background-size: contain;
	background-color: transparent;
	border-radius: 0;
}

.navbar>.container>.link.end {
	width: 28px;
	height: 28px;
	margin-top: 0;
	background-image: url("../img/interio-logo-closed-large.png");
    background-size: 28px 28px;
	background-color: transparent;
	border-radius: 0;
}

/* Decoration */
.deco-container {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	pointer-events: none;
	z-index: 5;
}

.deco-container>.deco-block {
	width: 800px;
	height: 400px;
	background-color: white;
	opacity: 0.1;
	position: absolute;
}

.deco-container>.deco-block:first-child {
	float: left;
	transform: rotate(-30deg);
	position: absolute;
    left: -25%;
    top: -20%;
}

.deco-container>.deco-block:nth-child(2) {
	float: right;
	transform: rotate(-25deg);
	position: absolute;
    bottom: -25%;
    right: -33%;
}

.deco-container>.deco-zigzag {
    background-image: url(../img/zigzag.svg);
    width: 600px;
	height: 600px;
	position: absolute;
	opacity: 0.1;
}

.deco-container>.deco-zigzag:first-child {
	float: left;
    left: -20%;
	top: -20%;
}

.deco-container>.deco-zigzag:nth-child(2) {
    float: right;
    right: -15%;
    bottom: -35%;
}

.deco-container>.paper-plane {
    background-image: url(../img/paper-plane.svg);
    width: 768px;
    height: 768px;
    right: 0%;
    bottom: -5%;
    background-repeat: no-repeat;
    position: absolute;
}

/* Layout */
.page-container {
    width: 100%;
	height: 100%;
	text-align: center;
}

.arrow-container {
	position: absolute;
    bottom: 2%;
    width: 100%;
    font-size: 36pt;
    font-weight: 100;
	opacity: 0.25;
}

.arrow-container.active {
	opacity: 1;
}

.arrow-container>i {
	cursor: pointer;
}

/* Basic Text Styling */
h1 {
	font-family: 'Kaushan Script';
	font-size: 96pt;
	font-weight: normal;
	font-style: normal;
	text-shadow: 0 4px 4px #00000022;
	margin: 0;
	letter-spacing: 0.02em;
}

h2 {
	font-family: 'Montserrat';
	font-size: 24pt;
	font-weight: 300;
	font-style: normal;
	letter-spacing: 0.02em;
	margin: 0;
}

h2.page-heading {
	padding-top: 5%;
}

h3 {
	font-family: 'Montserrat';
	font-size: 18pt;
	font-weight: 300;
	font-style: normal;
	letter-spacing: 0.02em;
	margin: 0;	
}

/* Footer */
.footer {
    background-color: #292929;
    box-shadow: inset #00000054 0px 5px 10px 0px;
	height: 6vh;
	width: 100%;
    font-size: 14pt;
    font-weight: 300;
    text-align: center;
	color: #d6d6d6;
	position: absolute;
}

.footer-container {
    padding-top: 17px;
}

.footer-container>i {
    color: #f3f3f3;
    padding-left: 6px;
    padding-right: 6px;
}
