/*
    inter.io
    Gestaltung II Projekt - HS Bremen - Andreas Teufel
    Jonathan Verbeek
    David Bollmann
*/

:root {
    --interio-one: #ff9560;
    --interio-two: #ff5e62;
    --interio-blue: #77a5ff;
	--interio-gradient: linear-gradient(120deg, var(--interio-one), var(--interio-two));
	
	--anim-veryfast: 0.05s;
	--anim-fast: 0.1s;
	--anim-medium: 0.25s;
}

body {
    margin: 0;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;

    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 18pt;
}

section {
    height: 100vh;
    width: 100%;
    scroll-snap-align: center;
    background: var(--interio-gradient);
    border-bottom: 0px dashed white;
}

a {
    color: white;
    text-decoration: none;
}

.navbar {
	position: fixed;
	height: 6vh;
	width: 100%;
	text-align: center;
    vertical-align: middle;
}

.navbar>.container {
	display: inline-block;
	padding-top: 16px;
}

.navbar>.container>.link {
	float: left;
	width: 16px;
	height: 16px;
	margin-left: 8px;
	margin-right: 8px;
	margin-top: 6px;
	background-color: white;
	opacity: 0.25;
	border-radius: 50%;
}

.navbar>.container>.link.active {
	opacity: 1;
}

.navbar>.container>.link.begin {
	width: 28px;
	height: 28px;
	margin-top: 0;
	background-image: url("../img/interio-logo-large.png");
	background-size: contain;
	background-color: transparent;
	border-radius: 0;
}

.navbar>.container>.link.end {
	width: 28px;
	height: 28px;
	margin-top: 0;
	background-image: url("../img/interio-logo-closed-large.png");
	background-size: contain;
	background-color: transparent;
	border-radius: 0;
}

.deco-container {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	pointer-events: none;
	z-index: 5;
}

.deco-container>.deco-block {
	width: 800px;
	height: 400px;
	background-color: white;
	opacity: 0.1;
	position: absolute;
}

.deco-container>.deco-block:first-child {
	float: left;
	transform: rotate(-30deg);
	position: absolute;
    left: -25%;
    top: -20%;
}

.deco-container>.deco-block:nth-child(2) {
	float: right;
	transform: rotate(-25deg);
	position: absolute;
    bottom: -25%;
    right: -33%;
}

.deco-container>.deco-zigzag {
    background-image: url(../img/zigzag.svg);
    width: 600px;
	height: 600px;
	position: absolute;
	opacity: 0.1;
}

.deco-container>.deco-zigzag:first-child {
	float: left;
    left: -20%;
	top: -20%;
}

.deco-container>.deco-zigzag:nth-child(2) {
    float: right;
    right: -15%;
    bottom: -35%;
}

.page-container {
    width: 100%;
	height: 100%;
	text-align: center;
}

.arrow-container {
	position: absolute;
    bottom: 2%;
    width: 100%;
    font-size: 36pt;
    font-weight: 100;
	opacity: 0.25;
}

.arrow-container.active {
	opacity: 1;
}

.arrow-container>i {
	cursor: pointer;
}

.slogan {
	text-align: center;
	padding-top: 10%;
	/*position: absolute;*/
    width: 100%;
}

h1 {
	font-family: 'Kaushan Script';
	font-size: 96pt;
	font-weight: normal;
	font-style: normal;
	text-shadow: 0 4px 4px #00000022;
	margin: 0;
	letter-spacing: 0.02em;
}

h2 {
	font-family: 'Montserrat';
	font-size: 24pt;
	font-weight: 300;
	font-style: normal;
	letter-spacing: 0.02em;
	margin: 0;
}

h2.page-heading {
	padding-top: 5%;
}

.interio-logo {
    background-image: url(../img/interio-logo-large.png);
    width: 100%;
    height: 256px;
    background-repeat: no-repeat;
    background-size: 256px 256px;
    background-position: center;
	margin: 0;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.info-container {
    justify-content: center;
    display: flex;
    padding-top: 8%;
}

.info-container>.left {
    float: left;
    padding-right: 2%;
}

.info-container>.right {
    float: right;
    max-width: 512px;
}

.info-img {
	width: 512px;
	height: 512px;
	border: 1px solid white;
}

.info-text {
	text-align: justify;
    font-size: 12pt;
    font-weight: 300;
    margin: 0;
    color: #ffffff;
}

.info-text>a {
	color: #ffffff;
    font-weight: 500;
}

.style-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 100px;
	grid-row-gap: 50px;
	justify-items: center;
	position: absolute;
	top: 250%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: var(--anim-veryfast) linear top;
}

.style-container>.style {
    /*border: 2px dashed white;*/
    border-radius: 50%;
    width: 256px;
    height: 256px;
	padding: 4px;
    transition: var(--anim-fast) linear transform;
}

.style-container>.style>img {
    transform: scale(0);
}

.style-container>.style>.style-img {
	width: inherit;
	height: inherit;
	border-radius: inherit;
}

.style-container>.style:hover {
	/*box-shadow: inset black 0 0 15px 6px;*/
	transform: scale(1.1);
}

.style-info-container {
	width: 100%;
    height: 35%;
    background-color: #353535;
	box-shadow: inset #0000003b 0 9px 20px 0px;
	position: absolute;
	top: 290%;
	opacity: 0;
	pointer-events: none;
	transition: var(--anim-fast) linear top, opacity;
    left: 50%;
    transform: translate(-50%, -50%);
}

.style-info-container>.arrow {
    content: " ";
    position: absolute;
    bottom: 100%;
    border-width: 32px;
    border-style: solid;
    border-color: transparent transparent #2b2b2b transparent;
    margin-left: -5px;
	margin-bottom: -1px;
	transition: var(--anim-fast) linear left;
}

.style-info-container>h2 {
	color: white;
	padding-top: 0.5em;
}

.style-info-container>p {
	color: #8a8a8a;
	padding-left: 2em;
	padding-right: 2em;
	font-size: 12pt;
}

.footer {
    background-color: #292929;
    box-shadow: inset #00000054 0px 5px 10px 0px;
	height: 6vh;
	width: 100%;
    font-size: 14pt;
    font-weight: 300;
    text-align: center;
	color: #d6d6d6;
	position: absolute;
}

.footer-container {
    padding-top: 17px;
}

.footer-container>i {
    color: #f3f3f3;
    padding-left: 6px;
    padding-right: 6px;
}

.progress-ring {
    position: absolute;
}

.progress-ring-circle {
    transition: 0.2s all;
    /*transform: rotate(-90deg);*/
    transform-origin: 128px 128px;

    /* High numbers make it invisible */
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
}
