/*
    inter.io
    Gestaltung II Projekt - HS Bremen - Andreas Teufel
    Jonathan Verbeek
    David Bollmann
*/

/* Tablet and/or small desktop screens */
@media screen and (max-width: 1240px) {
    .deco-container {
        display: none;
    }

    h1 {
        font-size: 72pt;
    }

    h2 {
        font-size: 18pt;
    }

    .style-container {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .style-container>.style {
        width: 200px;
        height: 200px;
    }

    .info-container {
        grid-template-columns: repeat(1, 1fr);
        padding-top: 2%;
        padding-left: 0;
        padding-right: 0;
    }

    .info-container>.right {
        justify-self: center;
    }

    .package-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .customize-preview {
        width: 384px;
        height: 384px;
    }

    .customize-container {
        grid-template-columns: repeat(1, 1fr);
        padding-top: 2%;
        padding-left: 0;
        padding-right: 0;
    }

    .customize-container>.right {
        justify-self: center;
    }

    .checkout-container {
        width: 50%;
    }
}

/* Tablets */
@media screen and (max-width: 850px) {
    h2.page-heading {
        padding-top: 8%;
    }

    .info-img {
        width: 384px;
        height: 384px;
    }

    .info-container>.right {
        padding-top: 1em;
    }

    .customize-preview {
        width: 300px;
        height: 300px;
    }

    .checkout-container {
        width: 70%;
    }
}

/* Smartphones */
@media screen and (max-width: 450px) {
    section {
        height: 100vh;
        min-height: -webkit-fill-available;
    }

    h2.page-heading {
        padding-top: 12%;
    }

    .info-container>.right {
        padding-top: 0.5em;
        max-width: 90%;
    }

    .package-container {
        overflow: scroll;
        height: 75%;
        box-shadow: inset 0 -8px 8px -8px #0000007a;
        grid-template-columns: repeat(1, 1fr);
    }

    .customize-container>.right {
        max-width: 90%;
    }

    .customize-parameters>.slot>.slot-texts {
        min-width: 12em;
    }

    .checkout-container {
        width: 100%;
    }

    .checkout-list>.item {
        margin-left: 0.2em;
        margin-right: 0.2em;
    }

    .checkout-list>.item>.item-price {
        margin-right: 0;
    }
}
