/*
    inter.io
    Gestaltung II Projekt - HS Bremen - Andreas Teufel
    Jonathan Verbeek
    David Bollmann
*/

@media screen and (max-width: 1240px) {
    .deco-container {
        display: none;
    }

    h1 {
        font-size: 72pt;
    }

    h2 {
        font-size: 18pt;
    }

    .style-container {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .style-container>.style {
        width: 200px;
        height: 200px;
    }

    .info-container {
        grid-template-columns: repeat(1, 1fr);
        padding-top: 2%;
        padding-left: 0;
        padding-right: 0;
    }

    .info-container>.right {
        justify-self: center;
    }

    .package-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .customize-preview {
        width: 384px;
        height: 384px;
    }

    .customize-container {
        grid-template-columns: repeat(1, 1fr);
        padding-top: 2%;
        padding-left: 0;
        padding-right: 0;
    }

    .customize-container>.right {
        justify-self: center;
    }

    .checkout-container {
        width: 50%;
    }
}